---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Add logo to masthead
border-top: 0px;
// .site-title::before {
//     content: "";
//     display: inline-block;
//     background-size: 40px 40px;
//     position: relative;
//     width: 40px;
//     background-image: url(img/logo.png);
//     height: 40px;
//     top: 5px;
// }