---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Add logo to masthead
// .site-title::before {
//     content: "";
//     display: inline-block;
//     background-size: 40px 40px;
//     position: relative;
//     width: 40px;
//     background-image: url(img/logo.png);
//     height: 40px;
//     top: 5px;
// }

.site-header {
    border-top: 0px;
}

.post-image {
  float: right;
  margin-left: 0.625rem;
  height: 12rem;
  width: 12rem;
}
.post-image {
  filter: grayscale(60%);
}
.post-image:hover {
  filter: grayscale(0%);
}
.post-image img {
  max-height: 100%;
  max-width: 100%;
}
.post-image {
  margin-top: -2.1875rem;
}
@media (max-width: 767px) {
  .post-image {
    display: none; 
  }
}